<html>
<head>
<title>principal.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
principal.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;head&gt;</span>
    <span class="s0">&lt;meta </span><span class="s2">charset</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;title&gt;</span><span class="s1">Title</span><span class="s0">&lt;/title&gt;</span>
<span class="s0">&lt;/head&gt;</span>
<span class="s0">&lt;body&gt;</span>
<span class="s0">&lt;h1&gt;</span><span class="s1">Nome: Matheus Santos de Jesus</span><span class="s0">&lt;/h1&gt;</span>
<span class="s0">&lt;h1&gt;</span><span class="s1">RGM: 531774202</span><span class="s0">&lt;/h1&gt;</span>
<span class="s0">&lt;h3&gt;</span><span class="s1">Projeto de cálculos básicos</span><span class="s0">&lt;/h3&gt;</span>
<span class="s0">&lt;h3&gt;</span><span class="s1">Use essas URL para fazer os cálculos</span><span class="s0">&lt;/h3&gt;</span>
<span class="s0">&lt;ol&gt;</span>
    <span class="s0">&lt;li&gt;</span><span class="s1">localhost:3500/imc/variável(peso)/variável(altura)</span><span class="s0">&lt;/li&gt;</span>
    <span class="s0">&lt;li&gt;</span><span class="s1">localhost:3500/raiz/variável</span><span class="s0">&lt;/li&gt;</span>
    <span class="s0">&lt;li&gt;</span><span class="s1">localhost:3500/media/variável/variável</span><span class="s0">&lt;/li&gt;</span>
<span class="s0">&lt;/ol&gt;</span>
<span class="s0">&lt;h3&gt;</span><span class="s1">Use &quot;.&quot; Para números decimais</span><span class="s0">&lt;/h3&gt;</span>

<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span></pre>
</body>
</html>